.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: transparent;
    width: 25vw;
}

@media screen and (min-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 10vw;
    }
}

@media screen and (min-width: 1440px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 5vw;
    }
}