.produtos {
    background-color: var(--secundary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 1.5em 48px 1.5em;
}

.produtos__titulo {
    padding: 1.3em 0 1em 0;
    font-size: 28px;
    font-weight: var(--font-weight-2);
}

.produtos__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.8em;
}

.produto {
    border: 1px solid var(--tertiary-color);
}

.produtos__descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    gap: 1em;
}

.produto__imagem {
    width: 100%;
}

.produto__titulo {
    font-weight: var(--font-weight-3);
    padding-top: 1em;
}

.produto__texto {
    text-align: start;
    font-size: 13px;
    line-height: 1.5;
}

.produto__valor {
    font-weight: var(--font-weight-3);
}

.produto__botao {
    background-color: var(--forth-background-color);
    border: none;
    color: var(--secundary-font-color);
    font-weight: var(--font-weight-2);
    padding: 0.6em 1em;
    margin-bottom: 1em;
    cursor: pointer;
    width: 102px;
    height: 37px;
    font-size: 16px;
}

.produto__botao:hover {
    background-color: rgb(178, 138, 215);
    color: var(--primary-font-color);
    transition: 0.4s;
}

@media (min-width: 768px) {
    .produtos {
        padding: 0 2.43em 53px 2.43em;
    }

    .produtos__cards {
        gap: 1.5em;
    }

    .produto {
        width: 330px;
    }
}

@media (min-width: 1440px) {
    .produtos {
        padding: 0 10.31em 84px 10.31em;
    }

    .produto {
        width: 350px;
    }
}